<div class="navigator-class">
  <mat-form-field id="selectedDestination" appearance="fill">
    <mat-label >Select your Destination</mat-label>
    <mat-select required>
      <mat-option   *ngFor="let marker of markers" [value]="marker" (click)="setMarkerCoOrds($event.target.innerText)">
        {{ marker.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="markerControl.hasError('required')"
      >Please choose a destination</mat-error
    >
    <mat-hint>{{ markerControl.value?.name }}</mat-hint>
  </mat-form-field>
  <button type="button" class="btn btn-success" *ngIf="startNavigator" (click)="watchPos()">
    Start Navigation
  </button>
</div>


<div #mapContainer id="map"></div>
